<!DOCTYPE html>
<html lang="es"
      xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p th:text="${examen.id}"></p>
    <form th:action="@{/point/save}" method="post" th:object="${punto}">
        <label for="enunciado">enunciado</label>
        <input type="text" name="enunciado" id="enunciado" th:field="*{enunciado}">
        <label for="id_examen">examen id</label>
        <input type="number" name="idExamen" id="idExamen"  th:value="${examen.id}">
        <input type="submit" value="enviar">

    </form>
</body>
</html>